{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{#block "title"}}Welcome to Task Manager using Spark Framework{{/block}}</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}
    </body>
    </html>
{{/block}}