{{#partial "content"}}
    <h1>Tasks</h1>
    <ul>
        {{#each tasks}}
            <li>
                <form action="/tasks/{{slug}}/vote" method="post">
                    <h3><a href="/tasks/{{slug}}">{{title}}</a> ( {{voteCount}} votes ) <button>Vote</button> </h3>
                </form>
            </li>
        {{/each}}
    </ul>

    <form action="/tasks", method="post">
        <div>
            <input type="text" placeholder="Enter the task title" name="title">
        </div>
        <div>
            <textarea placeholder="Enter the Task Details" name="description"></textarea>
        </div>
        <button>Submit Task</button>
    </form>
{{/partial}}

{{> base.hbs}}